@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body{
            background-color: #c4b6b6;
}
.Login-container{
    margin: 100px auto;
    height: 370px;
    width: 400px;
    padding: 20px 10px 20px 20px;
    background-color: #393e46;
    border-radius: 30px;
    color:white;
     box-shadow: 15px 10px 5px 10px rgb(0 0 0 / 30%)
}
h1{
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.Login-container label{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 5px;
}

.Login-container a{
    font-size: 25px;
    color:#a37eba;
    font-weight: 800;
}
#uname, #pwd {
    border-radius: 5px;
    height:15%;
    width: 80%;
}
#btn-login{
    width:70%;
    height:14%;
    margin-top: 10px;
    border-radius: 5%;
    background-color: #fdb827;
    font-size: 20px;
    font-weight: 800;
}
label{
    display: block;
}
.Error{
    font-size: 20px;
    color: red;
    padding-left:15px;
    
}
#database-errorMsg{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color:darkred;
}